/* BackToTop */
/* flèche retour en haut  */
.back-to-top {
    /* Basic styling  */
    background-color: oklch(100% 0 0);
    border: 2px solid currentColor;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.3rem;
    /* Hidden by default  */
    position: fixed;
    inset: auto 1rem 1rem auto;
}

/* utiliser la couleur du texte  */
.back-to-top:is(:link, :visited) {
    color: currentColor;
    text-decoration: none;
}

/* masquer le texte top */
.back-to-top span {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

*/ .back-to-top {
    --green: oklch(85.33% 0.15 141.46);
}

/* animation de la flèche  */
.back-to-top {
    --green: oklch(85.33% 0.15 141.46);
    animation: progress linear;
    animation-timeline: scroll();
}

/* rotation de la flèche  */
.back-to-top svg {
    transform: rotate(var(--angle));
}

/* propriete de la progression de la fleche  */
@property --progress {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --angle {
    syntax: '<angle>';
    inherits: true;
    initial-value: -90deg;
}

@keyframes progress {
    0% {
        --progress: 0%;
        --angle: 90deg;
    }

    2% {
        --angle: 90deg;

    }

    100% {
        --progress: 100%;
    }
}

@supports not (animation-timeline: scroll) {
    .back-to-top {
        background: var(--green);
    }
}

@media(prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}